<div class="ffrpg4e-chat">
  <h2>{{skill.label}} Challenge</h2>
  <dl>
    <dt>Skill Level</dt>
    <dd>{{skillLevel}}</dd>
    <dt>Difficulty</dt>
    <dd>{{difficulty}}</dd>
    <dt>Result</dt>
    <dd>{{total}}</dd>
    <dt>Outcome</dt>
    <dd>{{#if success}}Success{{else}}Failure{{/if}}</dd>
  </dl>
</div>
